<div class="container-big-card">

  <div class="big-card-img">
    <img src="/assets/placeholder.png" alt="placeholder" >
  </div>

  <div class="big-card-texts">
    <a href="">
        <span class="article-data"><p>16 Maio 2023</p></span>
        <h1>Titulo Noticia</h1>
        <p class="subtitle">Resumo Noticia Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                              Repudiandae blanditiis, ad culpa,
                              excepturi enim voluptate hic maiores exercitationem illum et harum odio ut impedit.
                              Quae et id unde voluptate impedit.Veniam nihil esse accusantium est modi,
                              vitae libero eveniet deserunt neque, reiciendis perferendis excepturi alias,
                              rerum quaerat dolorum dignissimos magnam voluptates labore earum provident deleniti amet odio.
                              Deleniti, hic eveniet?</p>
        <h3>Leia Mais...</h3>
      </a>
  </div>
</div>

<hr>
