<div class="container-article">

   <div class="image-article">
      <img src="https://i.pinimg.com/736x/50/78/01/507801a5d6d80f6dfefaad814a53868e.jpg" alt="">
   </div>

   <div class="texts-article">
    <div class="title-article">
      <h1>Audrey Hepburn</h1>
    </div>
    <div class="subtitle-article">
      <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Vivamus non purus in tellus rutrum malesuada.
        Fusce ut feugiat purus. Proin facilisis metus quis tempus cursus. </h3>
    </div>
    <div class="article-data">
      <span>15 de Outubro de 2023</span>
    </div>
    <div class="content-article">
      <p>
        Duis bibendum nulla tellus, at pharetra nulla placerat eget.
        Aenean molestie ut sem at sollicitudin. Suspendisse et mi auctor, varius elit sit amet, mollis est.
        Vivamus maximus condimentum sapien, vitae euismod mi condimentum id. Donec iaculis diam at dui sodales,
        cursus dignissim sapien condimentum. Sed nec mi sit amet sapien suscipit dignissim. In nec urna posuere,
        commodo diam vitae, laoreet velit. Duis sed hendrerit velit. Etiam aliquam condimentum nisi, sed maximus magna.
        Ut sed lectus ut diam vulputate dictum a non nisl. Praesent consectetur, nibh molestie rhoncus sollicitudin,
        dolor enim consectetur ante, eu interdum quam elit sit amet nisl.
        Duis porttitor maximus tristique.
      </p>
      <hr>
      <p>
        Duis bibendum nulla tellus, at pharetra nulla placerat eget.
        Aenean molestie ut sem at sollicitudin. Suspendisse et mi auctor, varius elit sit amet, mollis est.
        Vivamus maximus condimentum sapien, vitae euismod mi condimentum id. Donec iaculis diam at dui sodales,
        cursus dignissim sapien condimentum. Sed nec mi sit amet sapien suscipit dignissim. In nec urna posuere,
        commodo diam vitae, laoreet velit. Duis sed hendrerit velit. Etiam aliquam condimentum nisi, sed maximus magna.
        Ut sed lectus ut diam vulputate dictum a non nisl. Praesent consectetur, nibh molestie rhoncus sollicitudin,
        dolor enim consectetur ante, eu interdum quam elit sit amet nisl.
        Duis porttitor maximus tristique.
      </p>
      <hr>
      <p>
        Duis bibendum nulla tellus, at pharetra nulla placerat eget.
        Aenean molestie ut sem at sollicitudin. Suspendisse et mi auctor, varius elit sit amet, mollis est.
        Vivamus maximus condimentum sapien, vitae euismod mi condimentum id. Donec iaculis diam at dui sodales,
        cursus dignissim sapien condimentum. Sed nec mi sit amet sapien suscipit dignissim. In nec urna posuere,
        commodo diam vitae, laoreet velit. Duis sed hendrerit velit. Etiam aliquam condimentum nisi, sed maximus magna.
        Ut sed lectus ut diam vulputate dictum a non nisl. Praesent consectetur, nibh molestie rhoncus sollicitudin,
        dolor enim consectetur ante, eu interdum quam elit sit amet nisl.
        Duis porttitor maximus tristique.
      </p>
    </div>
   </div>
</div>
