header{
  display: flex;
  justify-content: center;
}



.articles-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px 50px 30px 50px;
}

.article-others{
  display: flex;
  flex-direction: row;
  width: 100vw;

}
