*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #e4e6ec;
}

h1, h2 ,h3, h4, h5, h6, a {
  font-family: 'Young Serif', serif;
  color: black;
}

p {
  font-family: 'Gabarito', sans-serif;
  text-align: justify;
}

span {
  font-family: 'Oswald', sans-serif;
}

a {
  text-decoration: none;
}
